html,
body {
  font-family: 'Mulish', sans-serif;
  background: #ebf5fb !important;
}

#app {
  font-family: 'Mulish', sans-serif;
  background: #ebf5fb !important;
}

.v-tab--active {
  border-radius: 25px;
  background: #ebf5fb !important;
}

.v-tabs-slider {
  background-color: none;
  background: none;
}
